body{
    font-family:"Avenir Next"
}


li{
    list-style:none;
}

.header {
    background-color:#26d0c9;
    color:#fff;
    height:90px;
}

.header-logo {
    float:left;
    font-size:36px;
    padding:20px 40px;
}

.header-list{
    float:left;
    align-self:center
}

.header-list li{
    float:left;
    padding:33px 20px;
}

.main{
    padding:100px 80px;
}

.copy-container h1{
    font-size:140px;
}

.copy-container h2{
    font-size:60px;
}

.copy-container span{
    color:#ff4a4a
}

.contents{
    height:500px;
    margin-top:100px;
}

.section-title{
    border-bottom:2px solid #dee7ec;
    font-size:28px;
    padding-bottom:15px;
    margin-bottom:50px;
}

.contents-item{
    alt="Photo" width="300" height="380";
}

table{
    border:doutset #26d0c9; 
}


.contact-form{
    padding-top:100px;
}

/*
<input>要素と<textarea>要素の
幅を400x
上のmargin(外側の余白)を10px
下のmarginを30px
padding(内側の余白)を20px
文字の大きさを8px

また太さ1px
種類soild
色#dee7ec
のborder(枠線)をつけるのじゃ
*/
input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;

    border:1px solid #dee7ec;

}

/*
contact-submitクラスの背景色を♯dee7ec(灰色、文字の色を#889eab(灰色)にする
*/

.contact-submit{
    background-color:#dee7ec;
    color:#889eab;

}



.footer{
    background-color:#2f5167;
    color:#fff;
    height:120px;
    padding:40px;
}

.footer-logo{
    float:left;
    font-size:32px;
}

.footer-list{
    float:right;
}

.footer-list li{
    padding-bottom:20px;
}